{% extends 'base.html.twig' %}

{% block title %}Gestion des produits {% endblock %}

{% block body %}

<div class="container">
    <h1>Gestion des produits </h1>
   
   {{ form_start(formProduit) }}
   
    {{ form(formProduit)}}


    {# ! form() est une fonction twig permettant d'afficher un formulaire entièrement #}
<button type='submit' class="btn btn-primary mt-2">Enregistrer </button>
   {{ form_end(formProduit) }}

    {# {{form_end(formProduit)}} #}
{% endblock %}

