{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h1class="display-4 text-center my-4">BACKOFFICE ADMIN</h1>
<p class="text-center"> Bienvenue sur votre backoffice</p>
<a href="" class=" col-md-6 offset-md-3 btn-dark mb-2">ADMIN GESTION DES PRODUITS </a>
<a href="" class=" col-md-6 offset-md-3 btn-dark mb-2">ADMIN GESTION DES MEMBRES</a>

{% endblock %}
